.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:rgb(17, 101, 140);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.person{
  display: inline-block;
  margin-left: 5px;
  border: 2px solid rgba(30, 124, 201, 0.507);
  background-color: rgba(100, 148, 237, 0.521);
  box-shadow: 0 5px 10px  cornflowerblue;
  border-radius: 3%;
  width: 80%;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
  width: 80%;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(25,118,210,.05);
    border-left: 100px solid #1976d2;
    padding: 10px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    box-sizing: border-box;
}
.mini-section{
  width: 80%;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
    background-color: rgba(25,118,210,.05);
    border-left: 100px solid #1976d2; 
    border-right: 600px solid #c6cfd686; 
    padding: 10px;
    display: inline-block;
    clear: both;
    box-sizing: border-box;
}